/* break point */
/* @media screen and (max-width: 1000px) and (min-width: 800px) {
    body{
        background-color: yellow;
    }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
    body{
        background-color: green;
    }
}

@media screen and (max-width: 599) and (min-width: 300px) {
    body{
        background-color: brown;
    }
}
